/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
/*@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.background_image {
  background-image:url("fashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.log-box {
  padding: 40px;
}

.log-box .actions input {
  border-radius: 8px;
  background-color: #ed6009;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 175px;
  transition: all 0.5s;
  margin: 5px;
}

.store {
  width: 75%;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.categories {
  width: 25%;
  font-size: 16px;
  padding-top: 20px;
  float: left;
  height: 100vh;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.store input {
  border-radius: 8px;
  background-color: orange;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  margin: 5px;
}

.nav {

}
// body {
//   padding-top: 70px;
//   padding-bottom: 30px;
// }
//
// .theme-dropdown .dropdown-menu {
//   position: static;
//   display: block;
//   margin-bottom: 20px;
// }
//
// .theme-showcase > p > .btn {
//   margin: 5px 0;
// }
