
<div class="categories">
  <!--Place in sidebar-->
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
      <% end %>
  </ul>

</div>

<div class="store">

<!--list-->
<% @items.each do |item| %>
  <%if item.inventory != 0 %>
  <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %></p>
    <% if current_user %>
    <%= button_to 'Add to Cart', line_items_path(item_id: item.id), :method => :post %>
    <% end %>
    <br>

  <% end %>
<% end %>

</div>
